/* body{ */
    /* margin: 10px; */
    /* padding: 10px; */
    /* background: im(C:\Users\DevashishNegi\Desktop\bhimtal.jpg) no-repeat; */
    /* background-size: cover; */

/* } */
body{
    margin: 0px 12px;
    padding: 0px;
    
}
.container{
    background-image: url("C:/Users/DevashishNegi/Desktop/bhimtal.jpg");
    background-size: auto 100%;
}
.box{
    /*height: 20%;
    width: 20%;
    display: block;
    margin: 15% 50% 50% 40%;*/
    width: 350px;
    /* length: 250px; */
    height: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    /* margin-top: 5%; */
    color: white;
    font-family: 'Century Gothic', sans-serif;

}
.box-img{
    width: 250px;
    border-radius: 50%;
}

.box h1{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 80;
}

.box h5{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 80;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transform: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}

.seg2 {
    width: 100%;
    /* background: im(C:\Users\DevashishNegi\Desktop\bhimtal.jpg) no-repeat; */
    background-size: cover;
    /*background-image: url("C:/Users/DevashishNegi/Desktop/segg2.jpg"); */
}
a{
    color:white;
    text-decoration: none;
}
.seg2{
    width: 100%;
    background-image: url("C:/Users/DevashishNegi/Desktop/segg2.jpg");
    background-size: auto 100%; 

}
table,th,td{
    border: 1px solid white;
    color: white;
    font-size: 25px;
    font-weight: 80;
    margin: 0 auto;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: 80;
    text-align: center;
}

h2{
    color: white;
    font-size: 25px;
    font-weight: 80;
    /* text-align: center; */
    margin-left: 35%;
}

progress{
    margin: 2%;
}

.seg3{
width: 100%;
    background-image: url("C:/Users/DevashishNegi/Desktop/newww.jpg");
    background-size: auto 100%; 
    margin-top: 1%;
    font-size: 25px;
    font-weight: 125;

}

h3{
    color: white;
    font-size: 25px;
    font-weight: 80;
    text-align: center;

}

p{
    color: white;
    text-align: center;
}

ul{
    color: white;
}

li{
    text-align: center;
    font-size: 25px;
    font-weight: 80;
}

#achieve{
    margin-bottom: 20px;
}